.contactcontents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
}

.contactcontents div {
  background-color: white;
  color: #ED3642; /*dark pink*/
  margin-bottom: 10px;
  padding: 20px;
}

.contactcontents h1 {
  text-transform: uppercase;
  font-size: 25px;
}

.contactcontents p {
  font-size: 20px;
}

#top {
  margin-top: 20px;
}
