#Contact {
  margin-right: 20%; /*margins of text*/
  margin-left: 25%;
}

.contactcontents {
  margin-right: 20%; /*margins of text*/
  margin-left: 25%;
  border-radius: 7px;
  background-color: white;
  padding: 20px;
  margin-bottom: 2%;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /*minimize shadow of box*/
  border-radius: 4px; /*rounded boxes*/
  box-sizing: border-box; /*boxes stay within form box*/
  margin-top: 2%;
  margin-bottom: 1%;
}

input[type=submit] {
  background-color: #2A4670; /*dark blue*/
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

#emessage {
  height:200px
}
