.contactcontents {
  display: flex;
  flex-direction: column;
  margin-right: 20%; /*margins of text*/
  margin-left: 25%;
}

.contactcontents h1 {
  color: black;
  font-size: 30px;
  text-align: left;
}

.contactcontents h2 {
  color: #505050; /*gray*/
  text-align: left;
}

input {
  border-radius: 10px; /*makes input boxes more round*/
  border: 1px solid black;
  padding: 10px;
  width: 30%;
}

#messText {
  width:100%;
  height:100px; /*TODO modify*/
  word-wrap: break-word;
}

button {
  width: 20%;
  margin-left:82.65%; /*TODO modify*/
  padding: 10px;
  margin-bottom: 5%;
  float:right;
  border: none;
  outline: none;
  color: white;
  background-color: #2A4670; /*dark blue*/
  font-size: 20px;
  font-family: inherit;
  cursor:pointer;
  font-size: 15px;
}
