.homecontents {
  display: flex;
  flex-direction: column;
  margin-right: 20%; /*margins of text*/
  margin-left: 25%;
}

.homecontents h1 {
  color: black;
  font-size: 30px;
  text-align: left;
}

.welcome {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
}
