body {
  background-color: #DAEDDD; /*light gray*/
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  display: inline;
  overflow: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #083D77; /*dark blue*/
  margin-right: 85%;
  height: 100vh;
}

.navbar div { /*TODO change font attributes*/
  margin: 20px;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
}

.intro img {
  height: 100%;
  width: 83%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.pictures img {
  height: 450px;
  width: 100%;
  opacity: 0.9;
}

.pictures h1 {
  color: black;
  text-transform: uppercase;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -350%);
}

.pictures p {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -480%);
}
