.portfoliocontents {
  display: flex;
  flex-direction: column;
  margin-left: 300px; /*margins of the image and text*/
  margin-right: 300px;
}

/*include id for the divs that just have a section title*/
.pageintro {
  background-color: white;
  color: #ED3642; /*dark pink*/
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
}

/*section title that's linked*/
.github {
  display: flex;
  flex-direction: column;
  background-color: #241623; /*very dark purple*/
  padding: 0px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

/*includes section title and picture*/
.campfirecontent {
  display:flex;
  flex-direction: row;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
}

.campfire {
  background-color: #E2711D; /*orange*/
  padding: 20px;
  text-align: center;
}

.campfire h2 {
  line-height: 8%;
  text-transform: lowercase;
}

.campfirepicture img {
  width: 100%;
}

/*just the section title*/
.girlswhocode {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;

  background-color: #3C787E; /*gray/blue*/
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

/*the picture and summary*/
.girlswhocodecontent {
  display:flex;
  flex-direction: row;
  color: white;
}

.girlswhocodepicture img {
  width: 58%;
  margin-left: 300px;
  margin-bottom: 10px;
}

.volunteerexplanation {
  display: block;
  margin-right: 300px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  color: black;
}

/*just section title*/
.dontpanic {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;

  background-color: #8B635C; /*very dark grayish pink*/
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

/*the summary and picture*/
.dontpaniccontent {
  display:flex;
  flex-direction: row-reverse; /*summary then picture*/
  color: white;
}

.clubexplanation {
  display: block;
  margin-left: 300px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  color: black;
}

.dontpanicpicture img {
  width: 60%;
  margin-right: 300px;
  margin-bottom: 10px;
}
