.portfoliocontents {
  display: flex;
  flex-direction: column;
  margin-left: 300px; /*margins of the image and text*/
  margin-right: 300px;
  text-transform: uppercase;
  color: white;
}

.github {
  background-color: #241623; /*very dark purple*/
  padding: 0px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;

}

.campfirecontent {
  display:flex;
  flex-direction: row;
  margin-left: 300px; /*margins of the image and text*/
  margin-right: 300px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
}

.campfire {
  background-color: #E2711D; /*orange*/
  padding: 20px;
  text-align: center;
}

.campfirepicture img {
  width: 100%;
}

.girlswhocodecontent {
  display:flex;
  flex-direction: column;
  margin-left: 300px; /*margins of the image and text*/
  margin-right: 300px;
  text-transform: uppercase;
  color: white;
}

.girlswhocode {
  background-color: #3C787E; /*gray/blue*/
  text-align: center;
  
  padding; 10px;
}

.girlswhocodepicture img {
  width: 40%;
}



.dontpanic {
  background-color: #ED3642; /*dark pink*/
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;

}
